body {
    background: #f9f9f9 none repeat scroll 0 0;
    color: #505050;
    font-family: "Roboto",Tahoma,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.25;
    margin: 0;
    padding: 0;
    position: relative;
}

#main{
	width: 100%;
	padding-bottom: 30px;
	padding-top: 30px;
}

.bao{
	margin: 0 auto;
	position: relative;
	padding: 0 10px;
}

.sua{
	display: block;
	min-width: 0;
}

#noidung{
	float: none;
	position: relative;
	color: #030303;
}

.thanhngang{
  	border-bottom: 1px solid #ddd;
  	padding-left: 0;
    list-style: none;
}

.thanhngang>li{
	float: left;
	margin-bottom: -1px;
	position: relative;
	display: block;
}

div{
	display: block;
}

ul{
	display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li{
   	text-align: -webkit-match-parent;
}

div, h1, h2, h3, h4, h5, h6, p, a, span, strong, ol, ul, li, table, td, th, input, select, textarea {
    box-sizing: border-box;
    outline: none;
}