#main{
	display: block;
	padding-bottom: 30px;
	padding-top: 30px;
	margin: 30px 10%;
	position: relative;
}

#thongTin{
	width: 35%;
	float: left;
}

#thanhToan{
	width: 50%;
	float: right;
}

.nhan{
	background: #0072bc none repeat scroll 0 0;
    border-color: #0072bc;
    color: #fff;
    border: 1px solid #a7a8a8;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 5px 15px;
    display: flex;
    justify-content: center;
  	align-items: center;
}

#thanhToan .nhan{
	background: white;
	color: black;
}

#taiKhoan{
	background: #f6f7f8 none repeat scroll 0 0;
    border: 1px solid #c4c4c4;
    padding: 30px 10px;
    overflow: hidden; /*khac phu loi khong bao toan bo*/
  	
}

.hang{
	padding-bottom: 35px;
}

.truong{
	float: left;
	width: 40%;
	position: relative;
    padding-left: 5%;
}

.giaTri{
	float: left;
	width: 55%;
	position: relative;
}

#nut{
	margin-top: 50px;
	display: flex;
  	justify-content: center;
 	align-items: center;
}

#quayLai {
  padding: 10px 20px;
  background-color: #0072bc;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}


#quayLai:hover {
  background-color: #005b9d;
}

p{
	font-size: 20px;
}

p:last-child {
  color: red;
}