@charset "ISO-8859-1";


.wapper {
    width: 250px;
    height: 300px;
    float: left;
    margin: 5px;
}

.table-item {
    width: 100%;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin: 5px;
}

.table-item a {
    text-decoration: none;
    color: #2a2cb8;
}

.table-item img {
    width: 100%;
}

input.search-key {
    border-radius: 5px;
}

table,
td {
    border: 1px solid black;
    margin: 50px 0 0;
}

a {
    text-decoration: none;
    color: #cccbcb;
}

button {
    cursor: pointer;
    transition-duration: 0.4s;
}

.page {
    background: rgb(255, 255, 255);
    width: 100%;
}

.header {
    background: #2a70b8 none repeat scroll 0 0;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    right: 0;
}

.wrapper .logo2 img {
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    cursor: pointer;
}

.action {
    height: 100%;
    position: absolute;
    left: 80%;
    top: 0;
    align-items: center;
}

li {
    list-style: outside none none;
    padding: 0 5px;
}

.action ul {
    display: flex;
}


.wrapper .search input {
    border: medium none !important;
    outline: none;
    padding: 7px;
}

.wrapper .search button {
    padding: 5px;
    background-repeat: no-repeat;
}

.wrapper .search {
    position: absolute;
    left: 20%;
    top: 15px;
}

.action .btn1 {
    background-color: #2a70b8;
    color: white;
    border: none;
}

.action .btn2 {
    background-color: #f68b20;
    color: white;
    border: none;
}

.btn1:hover {
    background-color: #f3f3f3;
    color: black;
}

.btn2:hover {
    background-color: aqua;
    color: black;
    box-shadow: 1px;
}