.button-group {
  display: flex;
}

.button {
  background-color: #eaeaea;
  border: none;
  color: #333;
  padding: 10px 20px;
  cursor: pointer;
}

.button.active {
  background-color: #009bff;
  color: #fff;
}

.class-content {
  display: none;
}

.class-content.active {
  display: block;
}

.course-content {
  display: none;
}

.course-content.active {
  display: block;
}